{{ form_start(form) }}
    {{ form_row(form.name, { 'label': 'Nom de scène' }) }}
    {{ form_row(form.real_name, { 'label': 'Vrai nom' }) }}
    {{ form_row(form.birth_date, { 'label': 'Date de naissance' }) }}
    {{ form_row(form.summary, { 'label': 'Biographie' }) }}
    {{ form_row(form.photo) }}
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
