{% extends 'base.html.twig' %}

{% block title %}Détail de l'artiste {% endblock %}

{% block body %}
    <div class="container">
        <div class="part">
            <div class="card text-center">
                <div class="card-header">
                    {{ artist.name }}
                </div>
                <div class="card-body">
                    {% if artist.photo == null %}
                        <img src="https://via.placeholder.com/200" class="img-thumbnail" alt="...">
                    {% else %}
                        <img src="{{ asset('/uploads/'~artist.photo.name) }}" class="img-thumbnail" alt="...">
                    {% endif %}
                    <h5 class="card-title">{{ artist.realName }}</h5>
                    <p class="card-text">{{ artist.summary }}</p>
                    <a class="btn btn-dark" href="{{ path('app_artist_index') }}">Retour</a>
                    <a class="btn btn-success" href="{{ path('app_artist_edit', {'id': artist.id}) }}">Modifier</a>
                    {{ include('artist/_delete_form.html.twig') }}
                </div>
                <div class="card-footer text-muted">
                    {{ artist.birthDate|date("m/d/Y") }}
                </div>
            </div>
        </div>

        <div class="part">
            Album(s) de {{ artist.name }}
        </div>

        <div class="part">
            Apparition(s) de {{ artist.name }}
        </div>
    </div>

{% endblock %}
