{{ form_start(form) }}
    {{ form_widget(form._token) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.release_date) }}
        {{ form_row(form.cover)  }}
        {{ form_row(form.artists)  }}
        {{ form_row(form.category)  }}
        <button type="button" class="btn btn-primary btn-new" data-collection="#titles">Nouveau titre</button>
        <div
            id="titles"
            class="row"
            data-prototype="{{ include("album/_title.html.twig", {form: form.titles.vars.prototype})|e("html_attr") }}"
            data-index="{{ form.titles|length > 0 ? form.titles|last.vars.name + 1 : 0 }}">
            {% for title in form.titles %}
                <div class="col-4">
                    {{ include("album/_title.html.twig", {form: title}) }}
                    <p>&nbsp;</p>
                </div>
            {% endfor %}
        </div>
        {{ form_errors(form.titles) }}
        <p>&nbsp;</p>
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form,{render_rest: false}) }}
