{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}
    <div class="container">
        <div class="part">
            <a class="btn btn-primary" href="{{ path('app_album_new') }}">Créer un nouvel album</a>
        </div>
    {% for album in albums %}
        <div class="part">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if album.cover == null %}
                            <img src="https://via.placeholder.com/200" class="img-fluid rounded-start" alt="...">
                        {% else %}
                            <img src="{{ asset('/uploads/'~album.cover.name) }}" class="img-fluid rounded-start" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ album.name }}</h5>
                            <p class="card-text">
                                {% for artist in album.artists %}
                                {{ artist.name }}
                                {% endfor %}
                            </p>
                            <p class="card-text">{{ album.releaseDate|date("d/m/Y") }}</p>
                            <p class="card-text"><a href="{{ path('app_album_show', {'id': album.id}) }}" class="btn btn-dark btn-sm">Détails</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
            Pas d'albums enregistrés
    {% endfor %}
    </div>
{% endblock %}
