{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container">
        <div class="part">
            <div class="card text-center">
                <div class="card-header">
                    {{ album.name }}
                </div>
                <div class="card-body">
                    {% if album.cover == null %}
                        <img src="https://via.placeholder.com/200" class="img-thumbnail" alt="...">
                    {% else %}
                        <img src="{{ asset('/uploads/'~album.cover.name) }}" class="img-thumbnail" alt="..." width="200">
                    {% endif %}
                    <h5 class="card-title">
                        {% for artist in album.artists %}
                            {{ artist.name }}
                        {% endfor %}
                    </h5>
                    <p class="card-text">{{ album.category.name }}</p>
                    <a class="btn btn-dark" href="{{ path('app_album_index') }}">Retour</a>
                    <a class="btn btn-success" href="{{ path('app_album_edit', {'id': album.id}) }}">Modifier</a>
                    {{ include('album/_delete_form.html.twig') }}
                </div>
                <div class="card-footer text-muted">
                    {{ album.releaseDate|date("d/m/Y") }}
                </div>
            </div>
        </div>

        <div class="part">
            Titres de l'album :

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                </tr>
                </thead>
                <tbody>
                    {% set i = 1 %}
                    {% for title in album.titles %}
                        <tr>
                            <td rowspan="2" >{{ i }}</td>
                            <td>{{ title.name }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('app_artist_show', {'id': artist1.id}) }}">{{ artist1.name }}</a>
                                {% for ft in title.feats %}
                                    , <a href="{{ path('app_artist_show', {'id': ft.id}) }}" >{{ ft.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
